  .navBar{
    display: inline-flex;
    gap: 1rem;
    background-color: pink;
    width: 100%;
  }
  .homeContainer {
    display: flex;
    border: 1px solid orange;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .homeContent {
    width: 100%;

  }
  input[name=lat], input[name=lon] {
    border: 1px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 35%;
    }
  
  input[type=submit] {
    padding:5px 10px;
    margin-top: 3px; 
    color: gray;
    border: white; 
    background-color: white;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: .7em;
    font-weight: bold;
  }
  
  .hour {
    color: blue;
  }

  .hourItem {
    border: 1px solid slateblue;
  }

  .hourContent, .dailyContent {
    display: flex;
    overflow-x: scroll;
  }