.zipData  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.locationInfo {
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 15px;
     color: rgb(199, 198, 198);
}

.weather {
margin-top: -3em;
}