.App {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Light Mode Styles */





.bg-light {
  background-color: white;
}

.heading-light {
  color: #222;
}

.para-light {
  color: rgb(90, 87, 87);
}


.btn {
  height: 2rem;
  border-radius: .5em;
  margin-top: .5rem;
}

.btn-light {
  background-color: rgb(233, 210, 241);
  color: rgb(31, 10, 39);
  cursor: pointer;
  border: none;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: rgb(31, 10, 39);
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: rgb(64, 34, 104);
  color: rgb(233, 210, 241);
}

body::-webkit-scrollbar {
  width: 6px; 
  background-color: #5b6efd;
}

::-webkit-scrollbar {
  width: 8px;
  width: 6px; 
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #5b6efd; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

