.currentContent{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currentMain {
    border: 5px solid #eea56c;
    border-radius: .75em;
    padding: .5em;
    background-color: #5b6efd;
    color: white;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 390px;
}
.weatherIcon {
    width: 100px;
    height:auto;
}
.currentTemp{
    font-size: 2.75vw;
}
.currentItem {
    border: 5px solid #eea56c;
    border-radius: .75em;
    padding: 1em;
    background-color: #5b6efd;
    color: white;
    /* display: flex; */
    width: 90px;
    flex-wrap: wrap;
    margin: 5px;
}

.currentOther{
    display: flex;
}

img {
    width: 75px;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.heading {
    font-weight: bold;
}

.showBtn {
    margin: 2rem;
}
.weekBtn {
    text-align: center;
    border-radius: .5em;
    margin-top: .5rem;
    font-size: 2vw;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border: none;
}

.weekBtn:hover {
    background-color: rgb(255, 232, 236);
}

.z {
    display: flex;
    align-content: center;
}

.hourContainer {
    margin: 1rem;
}