.currentContent{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.currentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currentMain {
    border: 1px solid #c3f0c8;
    border-radius: 1em;
    padding: 1em;
    background-color: #c3f0c8;
    color: #6e6b6b;
    width: 320px;
    height: 330px;
}

.currentOther {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.z {
    display: flex;
    align-content: center;
}


.weatherIcon {
    width: 100px;
    height:auto;
    margin-bottom: -2.5rem;
}
.currentTemp{
    font-size: 2.5vw;
}
.currentItem {
    border: 5px solid #c3f0c8;
    border-radius: 1em;
    padding: .5em;
    background-color: #c3f0c8;
    color: #6e6b6b;
    /* display: flex; */
    width: 88px;
    margin: .5em;
}



img {
    width: 75px;
}



.heading {
    font-weight: bold;
}

.showBtn {
    margin: 2rem;
}
